@{
    ViewData["Title"] = "Entry Detect Device (EDD)";
}
<h1>@ViewData["Title"]</h1>

<p><img src="~/img/1.png"/></p>
<p>防攻入设备</p>
<p>创建人：</p>
<p>朱原毅   李大千</p>
<p> img      img</p>
<p>作用（EDD好处都有啥）：</p>
<p>1. 提高宿舍安全指数</p>
<p>2. 提高校园高玩存活概率（营造良好“学习环境”）</p>
<p>3. 实时记录指定环境里人类的出入状态😊</p>
<p>4. 也可以做实时门防装置</p>
<p>特性：</p>
<p>1. 红外人体感应器（更精确）</p>
<p>2. 利用学校网络进行实时数据传输，并将数据汇总到网络终端，同时也可以选择接受弹窗进行实时预警。</p>
<p>3. </p>
<p></p>
